.thumb
{
    
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 40px;
    padding-right: 40px;

}

.thumb:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    background-color: rgb(203, 203, 203);
}
.ar
{
    height: 200px;
    width: 250px;
    border-radius: 30px;
}